{
  "plugins": [
    "@typescript-eslint",
    "react-hooks",
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "vika"
  ],
  "rules": {
    "prefer-const": "off",
    "@typescript-eslint/no-var-requires": "off",
    "require-await": "off",
    "no-control-regex": "off"
  }
}
